
.container {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
    .sectionTitle {
        margin-bottom: 25px;
        color: black;
        font-size: 24px;
    }
    .searchBarContainer {
        width: 100%;
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
        gap: 50px;
        align-items: center;
        padding: 10px 20px;
        input {
            width: 30vw;
            font-size: 15px;
            height: 30px;
            border: 1px solid #ccc7c7;
            border-radius: 15px;
            padding: 20px 15px;
            box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
            outline: none;
            @media (max-width: 1400px) {
                width: 40vw;
            }
            @media (max-width: 950px) {
                width: 50vw;
            }
        }
    }
    .tableContainer {
        border-radius: 20px;
        display: flex;
        justify-content: center;
        .table {
            box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
            table {
                width: 100%;
                font-size: 12px;
                margin: 45px;
                text-align: left;
                border-collapse: collapse;
            }
            .tableHeaders {
                font-size: 15px;
                font-weight: normal;
                padding: 8px;
                background:#AB005A;
                border-top: 4px solid #AB005A;
                border-bottom: 1px solid #fff;
                color: #ffffff;
            }
        }

    }
}

@media (max-width: 844px){
    .container::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
    }

    .container::-webkit-scrollbar-thumb {
        border-radius: 8px;
        border: 3px solid #fff;
        background-color: rgba(0, 0, 0, .3);
    }
}



















