
.reservesList-title {
    margin-bottom: 25px;
    color: black;
    font-size: 24px;
}

.tablelist {
    border-radius: 20px;
}
.reserva-table {
    box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
}

.reserva-table table{
    width: 100%;
    font-size: 12px;
    margin: 45px;
    text-align: left;
    border-collapse: collapse;
}

.reserva-th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background:#AB005A;
    border-top: 4px solid #AB005A;
    border-bottom: 1px solid #fff;
    color: #ffffff;
}

.table-container {
    width: 100%;
    overflow-y: auto;
    margin: 0 0 1em;
}

@media (max-width: 844px){
    .table-container::-webkit-scrollbar
    {
        -webkit-appearance: none;
        width: 14px;
        height: 14px;
    }

    .table-container::-webkit-scrollbar-thumb
    {
        border-radius: 8px;
        border: 3px solid #fff;
        background-color: rgba(0, 0, 0, .3);
    }
}

.barra-de-busqueda-container {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}


.barra-de-busqueda-container input {
    width: 30vw;
    font-size: 15px;
    height: 30px;
    border: 1px solid #ccc7c7;
    border-radius: 15px;
    padding: 20px 15px;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

@media (max-width: 1400px) {
    .barra-de-busqueda-container input{
        width: 40vw;
    }
}

@media (max-width: 950px) {
    .barra-de-busqueda-container input{
        width: 50vw;
    }
}


.btn-orange {
    background-color:#AB005A ;
    font-size: 15px;
    min-width: 130px;
    height: 42px;
    padding: 5px 15px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 25px;
    border: none;
    z-index: 1;
    -webkit-box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.btn-orange a {
    color: #fff;
}
.btn-orange:hover:after {
    width: 100%;
    left: 0;
}


.btn-orange:after {
    border-radius: 25px;
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    z-index: -1;
    box-shadow: inset 2px 2px 2px 0 rgba(255, 255, 255, .5), 7px 7px 20px 0 rgba(0, 0, 0, .1), 4px 4px 5px 0 rgba(0, 0, 0, .1);
    transition: all 0.3s ease;
    background-color: #AB005A;
    right: 0;
}

.btn-orange:active {
    top: 2px;
}
