.horas-trabajadoras-table-row {
    height: auto;
}

.horas-trabajadoras-th {
    font-size: 13px;
    font-weight: normal;
    padding: 8px;
    background: #AB005A;
    border-top: 4px solid #AB005A;
    border-bottom: 1px solid #fff;
    color: #ffffff; }

.horas-trabajadoras-td {
    padding: 8px;
    background: #ffffff;
    border-bottom: 1px solid #fff;
    color: #000000;
    border-top: 1px solid transparent; }


.name:hover {
    background: #AB005A;
    color: #AB005A;
    cursor: pointer;
}