.tableRow {
    height: auto;
    .tableCell {
        padding: 8px;
        background: #ffffff;
        border-bottom: 1px solid #fff;
        color: #000000;
        border-top: 1px solid transparent;
    }
}
